#home {
  background-image: url("../img/img_home2.jpeg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
}
.home_container {
  padding: 10px;
  color: #f2f2ef;
  width: 60%;
  backdrop-filter: blur(500px);
  margin-left: 50px;
}
.home_title {
  font-size: 30px;
}
